<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ProjectActionsTable" value="project_actions"/>
    <add key="ProjectsTable" value="projects"/>
    <add key="ViolationTable" value="violations"/>
    <add key="LatLonTable" value="HCAD_LATLONG"/>
    <add key="ConnectionString" value="Data Source=localhost\AD;Initial Catalog=DON;User ID=test;Password=test"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>